# 第2部　PythonとJupyter Notebookの基本

## 3章　Pythonによるプログラミングの基本

本書ではPythonにおけるプログラミングの基本を説明します。最初のうちは基本的な文法の説明です。最初はすべてを覚えきる必要はりません。忘れてしまったら、その時に本章をもう一度確認してください。ただし、本章の最後で解説している「使いやすいプログラムを書くコツ」については確実に目を通してください。

### 3-1 実装：四則演算

まずは四則演算の実行方法を解説します。実装パートでは節の頭に「実装」と表記しています。
画面に合わせて灰色の四角で「In[ ]」と書かれた入力行を表すことにします。足し算を実行する場合は+記号を使います。引き算は-記号を使います。次は掛け算です。*記号を使います。割り算は/記号を使います。割り算の時だけ少し注意が必要です。計算結果に小数点がつきました。

In [1]:
1 + 1

2

In [2]:
5 - 2

3

In [3]:
2 * 3

6

In [4]:
6 / 3

2.0

### 3-2 実装：その他の演算

累乗を計算する場合は**とします。下記のコードで2の3乗を求めます。小数点以下を切り捨てた割り算を行う場合は//とします。余りを計算する場合は%記号を使います。

In [5]:
# 累乗
2 ** 3

8

In [6]:
# 整数の商
7 // 3

2

In [7]:
# 整数の商
14845 // 4353

3

In [8]:
# 余り
7 % 3

1

### 3-3 実装：コメントの書き方

　　#を行の頭につけると、その行はコメント行として扱われます。

In [9]:
# 1 + 1

### 3-4 実装：データの型

データの型の紹介をします。データと一口に言っても、「1,2,3」といった数値と「A,B,C」といった文字列では扱いが変わりますね。これらを使い分ける方法を紹介します。

#### 4-A 文字列型

文字列型を紹介します。これは名前の通り文字列を扱います。シングルクォーテーションまたはダブルクォーテーションで囲みます。どちらを使うこともできます（ただし、統一したほうがきれいです）。以下ではダブルクォーテーションを使いました。

In [1]:
"A"

'A'

シングルクォーテーションを使っても結果は変わりません。どちらを使ってもよいのですが、本書ではシングルクォーテーションを中心に使います。

In [2]:
'A'

'A'

In [12]:
# 文字列型
type('A')

str

type関数を使うと、型の名称を出力できます。strは「String」の略で、文字列型であることを示しています。

In [13]:
# 文字列型
type("A")

str

#### 4-B 整数型・浮動小数点型

数値型としては、整数型と浮動小数点型の2種類があります。小数点以下があるかないかの違いです。整数型はint型とも呼ばれます。intは「integer」の略で、整数型であることを示しています。浮動小数点型はfloatと呼ばれます。

In [14]:
# 整数型
type(1)

int

In [15]:
# 浮動小数点
type(2.4)

float

In [3]:
# ここで皆さんに質問です！もし整数型と浮動小数点の掛け算引き算を計算したら，結果はどのようなデータ型になりますか？

print(2.4+5)
type(2.4+5)

7.4

float

#### 4-C ブール型

正解ならばTrue(真)、間違っていればFalse(偽)といった真偽を表すデータ型をブール型と呼びます。頭文字が大文字で、それ以外を小文字で入力することに気を付けてください。

In [ ]:
# ブール型
type(True)

In [ ]:
# ブール型
type(False)

#### 4-D 異なるデータ型の間での演算

異なるデータの型で演算をするとエラーになることがあるので注意しましょう。

In [5]:
# 'A' + 1
'A' + 'B'

'AB'

### 3-5 実装：比較演算

数値の大小関係などを比較したい場合には、比較演算子を使います。比較演算子の計算結果はブール型です。正しい場合はTrueが返ります。正しくない場合はFalseが返ります。

比較演算子の種類は以下の通りです。

| 比較演算子 | 意味 |
| --- | --- |
| > | より大きい |
| >= | 以上 |
| < | より小さい |
| <= | 以下 |
| == | 等しい |
| != | 等しくない |

In [6]:
1 > 0.89

True

In [7]:
3 >= 2

True

In [8]:
3 < 2

False

In [9]:
3 <= 2

False

In [10]:
3 == 2

False

In [11]:
3 != 2

True

### 3-6 実装：変数

例えば数値の100が293になることはできません。中身が変わらないものを定数と呼びます。一方で中身が変わる可能性があるものを変数と呼びます。以下のコードでは変数xに100を代入しています。この場合のイコール記号(＝)は等しいという意味ではなく、代入演算子と呼ばれるものなので注意しましょう。

In [12]:
x = 100

これで変数xの中身は100になりました。単にxと記述してコードを実行するとxの中身である100が出力されます。

In [13]:
x

100

変数xは中身を変えることができます。以下のコードを実行すると、中身が293になります。

In [14]:
x = 293
x

293

なお100=293というコードはエラーになるので注意してください。

In [22]:
# 参考までに、以下のコードはエラーになる。リテラル（直接的な値、例えば数字や文字列など）に代入しようとした場合に発生するエラーです。
# 簡単に言うと、数値や文字列などの値を直接的に代入しようとすると、プログラムの文法として許可されていないため、このエラーが表示されます。
id = 293

In [25]:
#　予約語を確認するコマンド
__import__('keyword').kwlist

# #　組み込み関数を確認するコマンド
# dir(__builtins__)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

また、中身を代入する前だとエラーになります。例えば以下のコードはname ’y’ is not definedと「yが定義されていない」ことが原因でエラーになります。

In [23]:
id(y)

TypeError: 'int' object is not callable

In [ ]:
y

yが定義すれば、エラーはなくなります。変数同士で計算などができます。

In [20]:
y = 50
y

50

In [26]:
x + y

343

### 3-7 実装：関数

計算ロジックを保存したものを関数と呼びます。計算のロジックは処理と呼ばれることも多いです。

#### 7-A 関数の作成

例えば、ある値二2を足してから4を掛けるという計算をする必要があったとしましょう。

In [ ]:
(y + 2) * 4

yには50が代入されているので$(50+2)*4=52*4=208$となります。

これをいろいろなデータに対して適用したいと思った時、何度もこの計算を書くのはやや面倒です。そこで、以下のようにして処理を関数に保存します。

In [31]:
def sample_function(data):
    return (data + 2) * 4

In [32]:
def sample_function(data):
    return (data + 2) * 4
print('YFEGFEU')

YFEGFEU

関数を作る場合は、以下の要領で実装します。

def 関数名（引数）：<br>
　　処理

一行目の行頭に「def」と入れること、行末にコロン（:）記号を入れることに注意します。これはPythonにおける約束事なので覚えるしかありませね。
2行目以降は行の頭に空白文字を入れる（インデントすると呼びます）ことに注意します。これを忘れるとうまく動きません。
計算結果を返すとはreturnを使います。これもルールとして覚えておきましょう。

In [29]:
def print_fun(x, y):
    print(x * y)

def return_fun(x, y):
    return x * y

print(type(print_fun(2, 3)))
print(type(return_fun(2, 3)))
# print(print_fun(2, 3)+2)
print(return_fun(2, 3)+2)

6
<class 'NoneType'>
<class 'int'>
8

#### 7-B 関数の実行

関数に渡す対象を引数（ひきすう）と呼びます。引数に入れるデータを変えることで、まったく同じ計算ロジックをさまざまなデータに対して適用できます。
まずは変数を引数に入れて実行します。

In [33]:
sample_function(data=y)

208

関数を使う際にdata=といった引数の名前は省略できます。即ち以下のように実行しても結果は変わりません。

In [ ]:
# 引数の名前は省略できる
sample_function(y)

引数を変えて、実行してみます。

In [ ]:
sample_function(3)

関数の演算結果をさらに計算に使うこともできます。

In [34]:
sample_function(y) + sample_function(3)

228

関数の便利なところは、他の人が作った計算のロジックを流用できることです。統計分析には複雑な計算が必要となることが多々あります。この計算を全部自分でプログラミングしていると、とても長い時間がかかってしまいます。しかし、他の方が作ってくれた関数を使うことで、あっという間に、短いコードで分析を実行できます。

### 3-8 実装：頻繁に使う関数

本書で頻繁に用いる関数を紹介します。

#### 8-A print関数

結果を画面に出力させる際にはしばしば用いるのがprint関数です。例えば1+1の結果を出力させます。

In [35]:
print(1 + 1)

2

上記の結果は、print関数を使わない時と同じです。ただし、複雑な結果を出力させる場合はprint関数を使った方が便利なところがあります。例えば文字列と計算結果を合わせて表示させる場合はprint関数を使うと簡単です。

In [36]:
print('今から計算をします：計算結果は', 1 + 1)

今から計算をします：計算結果は 2

ところで、複数の計算を一つのセルで行うと、最後の結果だけが出力されます。print関数を使うことで、両方の結果を出力できます。

In [37]:
# 最後の数値だけが出力される
1 + 1
1 + 3

4

In [38]:
# 両方出力される
print(1 + 1)
print(1 + 3)

2
4

In [ ]:
# print('今から%sの計算をします：計算結果は' % '1+1', 1 + 1)
# print('今から{0}の計算をします：計算結果は{1}'.format('1+1',1+1))

#### 8-B round関数

本書では様々な計算を行います。計算結果に対して小数点を丸める時にはround関数を使います。引数に対象となる数値を入れると、整数に丸めてくれます。

In [39]:
print('1.234を丸めた結果', round(1.234))
print('1.963を丸めた結果', round(1.963))

1.234を丸めた結果 1
1.963を丸めた結果 2

整数ではなく、例えば小数点以下第2位で丸める場合は、引数ndigitsを追加します。

In [40]:
round(1.234, ndigits=2)

1.23

In [41]:
# 通常の四捨五入とは異なるので注意、同じだけ近い場合には偶数が選ばれる結果になっている。
print('1.5を丸めた結果', round(1.5))
print('3.5を丸めた結果', round(3.5))

print('2.5を丸めた結果', round(2.5))
print('4.5を丸めた結果', round(4.5))

print('2.51を丸めた結果', round(2.51))
print('3.56を丸めた結果', round(3.56))

1.5を丸めた結果 2
3.5を丸めた結果 4
2.5を丸めた結果 2
4.5を丸めた結果 4
2.51を丸めた結果 3
3.56を丸めた結果 4

Pythonの`round()`関数が四捨五入で偶数を優先する目的は、統計的なバイアスを減らすためです。

### 3-9 実装：クラスとインスタンス

本節ではクラスとインスタンスという2つの概念について説明します。この二つの考え方を突き詰めると、哲学的な文章になってしまうので、データ分析をする際に覚えておくとよいことに絞って解説します。また、本節は難しいと感じたら飛ばしても大丈夫です。

#### 9-A クラスの作成

データと計算のロジックを共に使いまわせるようにできると便利ですね。クラスを使うと、データの構造と計算のロジックを共に指定できます。
ここからは、クラスとインスタンスを実際に作っていくのですが、実はこの作業は今後一切行いません。他の方が作ってくれたクラスを流用するからです。クラスの使い方だけ理解できれば大丈夫です。

In [ ]:
# Sample_Classという名前の暮らすを作ります。
class Sample_Class:
    def __init__(self, data1, data2):
        self.data1 = data1
        self.data2 = data2

    def method2(self):
        return self.data1 + self.data2

In [ ]:
#　クラスを作る場合は、以下の要領で実装します。以下のコードは動きません。

class クラス名:
    def 関数名1（引数）:
        関数名1の処理
    def 関数名2（引数）:
        関数名2の処理

関数は二つに限らず、三つでも四つでもいくつでも追加できます。
1つ目の関数__init__は特殊な関数で、クラスの初期化をするコンストラクタと呼ばれます、クラスにデータ(data1, data2)を格納する関数としてコンストラクタを使っています。

*コンストラクタとは、オブジェクト指向プログラミング言語において、クラスのインスタンスが生成される際に自動的に実行される、特別なメソッドのことです。主に、オブジェクトの初期化処理を行うために使われます。

#### 9-b インスタンスの生成

インスタンスを生成することで、実際にデータを中に格納できます。sample_instanceという名前でインスタンスを生成します。

In [ ]:
sample_instance = Sample_Class(data1=2, data2=3)

これで、data1に「2」が、data2に「3」が格納されたインスタンスsample_instanceができました。コンストラクタの引数のselfとは、クラス自身のことを指すので、指定は不要です。

In [ ]:
#　中身のデータを取り出す際には、ドット記号を使います。
sample_instance.data1

In [ ]:
#　自身の関数を使う場合も、ドット記号を使います。
sample_instance.method2()

関数を実行する時、round()のように単に関数名を指定する場合と、インスタンスからsample_instance.method2()のように実装する場合があります。両者の使分けに注意してください。インスタンスの中身（データや計算のロジック）を取り出す場合には、ドット記号を使うことを覚えてください。

### 3-10 実装：if構文による分岐

「もしも○○ならば、XXの動作をする」という条件分岐を含むプログラムを書く場合はifという構文を使います。

In [ ]:
#　一般的に、if文は以下のように書きます（以下のコードは動きません）。

if(条件):
  条件を満たしたときの動作
else:
  満たさなかったときの動作

In [42]:
#あるdataが2未満なら「2より小さいデータです」と出力され、そうでなければ「2以上のデータです」と出力させる機能を実装します。

data = 1
if(data < 2):
    print('2より小さいデータです')
else:
    print('2以上のデータです')

2より小さいデータです

In [43]:
#条件を満たさなかったときの動作も確認します。

data = 3
if(data < 2):
    print('2より小さいデータです')
else:
    print('2以上のデータです')

2以上のデータです

In [46]:
# Pythonでは、このinput()関数はユーザーからの入力を受け入れるための基本的なユーザーインターフェースを作成するために使用されます。
# この関数はプログラムの実行を一時停止し、ユーザーが何かを入力してEnterキーを押すまで待機します。
# 入力されたテキストは文字列として返されます。

x = int(input("好きな番号を教えてください。"))

好きな番号を教えてください。5

In [49]:
type(x)

int

### 3-11 実装：for構文による繰り返し

同じ計算を何度も繰り返す場合はforという構文を使います。
いろいろやり方があるのですが、繰り返しの幅を設定するのが簡単です。幅はrange関数を使って指定します。

In [50]:
range(0, 3)

range(0, 3)

range(0, 3)と指定すると「0スタートで3つの幅」を表します。即ち0, 1, 2です。
以下のコードではiという変数をrange(0, 3)の範囲で変化させながら、print(i)を繰り返し実行しています。

In [51]:
for i in range(0, 3):
    print(i)

0
1
2

# 20250430はここまで説明終わりました．

In [ ]:
#　2行目の動作をprint('hello')とすると、helloが3回続けて表示されます。

for i in range(0, 3):
    print('hello')

まったく同じ処理を繰り返すこともできますし、データを変えながら似たような処理を繰り返すこともできます。if構文とfor構文を組み合わせると、さまざまな動きをプログラミングできます。本書では第4部以降でシミュレーションする時などに使います。

### 3-12 使いやすいプログラムを書くコツ

Jupyter Notebookは、複数のセルのどこからでも計算を始められます。しかし、5番目のセルを実行した後でないと2番目のセルの計算は動かない、というので順番があることを覚えてください。
是非、1番上のセルから順番に実行していけば、正しい結果が得られるようにコードを書きましょう。これだけで見通しがとてもよくなります。
また、同じコードは何度も書かないというのも守っておくとよいです。同じ計算は関数としてまとめたり、for構文を使って一気に繰り返し実行したりします。

そして、Pythonに関わらず、プログラミングで最も重要なことは何をやっているのか他の人が見ても分かるようにすることです。
例えば変数名を「A」という1文字だけにすることはお勧めできません。本書ではページ数の関係で短い変数名を使いこともありますが、実際にコードを書く場合は、ちゃんと理解ができる、中にどんなデータが入っているのか想像できるような変数名を使いましょう。
関数名やクラス名も同様で、使い方が想像できるような名称にすることが推奨されます。コードに適宜コメントを入れることも良い習慣です。
他の人が読んでも分かる、或いは3ヶ月後に自分が読み返しても内容が分かるようにすることは、個人の勉強でも、チームでの共同作業でも、とても大事です。


## 4章　numpy・pandasの基本

本章では、numpy・pandasという2つのライブラリの使い方を解説します。numpy・pandasを用いることで、データの取り扱いがとても簡単になります。

本章では、補足的に、リスト呼ばれる、外部ライブラリを利用しなくても使えるデータの形式も紹介します。続いてnumpyとpandasの使い方を解説します。

### 4-1 実装：分析のための追加機能のインポート

ライブラリを読み込むと、便利関数やクラスなどを利用できるので、分析がとても簡単になります。

In [ ]:
#　以下のコードでライブラリを読み込む。
import numpy as np
import pandas as pd

numpyとpandasという2つのライブラリを読み込みました。今後少しずつ扱うライブラリが増えていきます。しかし、この2つだけでも、データの整理や集計位であれば、十分な機能を備えています。

各々のライブラリを読み込む際、numpyならばnp、pandasならばpdという略称を設定しました、numpyといちいち入力するよりもnpとだけ入力する方が簡単だからです。numpyの機能を使う場合は「np.関数名」のように、頭にnp.をつけます。pandasならpd.をつけます。

基本的には「import　ライブラリ名」のように読み込みます。ちなみに「from ライブラリ名　importモジュール名・関数名」のようにして、ライブラリ内の特定のモジュールや関数だけを読み込むことなどもできます。

### 4-2 用語：numpy・pandas

numpyとpandasは、データを読み込んだり整形したり、集計したりするのに便利ライブラリです。numpyとpandasの使い分けに関しては、自分にとって最も扱いやすいと感じたものを採用していただければと思います。本書で紹介する使い方はあくまでもその一例です。

numpyはアレイ(正確にndarray)というデータを保持するクラスを主に使います。また、本書ではあまり使いませんが、行列演算も簡単に実行できます。

pandasは、データフレーム(DataFrame)という、データ管理のためのとても強力なクラスを持っています。本書では主にpandasのデータフレームを使います。

### 4-3　実装：リスト

numpy・pandasを使う前に、前準備としてPython標準のデータの形式を紹介します。以下のようにして複数のデータをまとめたものをリストと呼びます。
半角の角括弧で複数のデータを囲むことによってリストを作ります。ここでは、作ったリストを変数に代入しています。中身を表示する場合は、2行目のように変数名だけを記述します。

In [ ]:
sample_list = [1,2,3,4,5]
sample_list
# type(sample_list)

なお、リストに対する演算は少し工夫が必要です。sample_list + 1のようにリストに1を加えるとエラーになります。
いろいろな計算処理を行う場合は、後ほど紹介するnumpyのアレイやpandasのデータフレームヲ使う方が簡単です。あくまでも使い分けの問題です。リストを使うべき場面もあります。

In [ ]:
# これはエラー
sample_list + 1

### 4-4　実装：行(Row)・列(Column)

行列に関する用語を説明します。行が横です。列が縦です。行はRowと、列はColumnの頭文字のColと表記することがあります。また行列の名の通り、行番号→列番号の順番で表記されることが多いです。

とてもつまらないことですが、これを間違えるとかなら大きな痛手になるので、ちゃんと対応を把握しておくと安心です。

### 4-5 実装：アレイ

ここからnumpyの解説に移ります。本節ではnumpyのアレイという形式でデータを格納する方法を解説します。リストを用いてアレイを作ります。numpyの機能を用いるので「np.array」とします。

In [ ]:
sample_array = np.array([1, 2, 3, 4, 5])
sample_array

同一のアレイには、同一のデータの型しか入りません。仮に、数値型と文字列型を同時に入れようとすると、すべてが文字列型として扱われてしまいます。

In [ ]:
# すべて文字列型になる
np.array([1 ,2, 'A'])

### 4-6 実装：アレイに対する演算

アレイに対する演算は、アレイの中身のデータすべてに対して一律に適用されます。例えば足し算ならば、以下のようになります。リストだとエラーになりましたが、アレイなら問題なく実行できます。掛け算も同様です。

In [ ]:
sample_array + 1

In [ ]:
sample_array * 2

### 4-7　2次元のアレイ

2次元のアレイを作ることもできます。リストを入れ子にしたものを引数に指定します。

In [ ]:
# 行列
sample_array_2 = np.array(
    [[1, 2, 3, 4, 5],
     [6, 7, 8, 9, 10]])
sample_array_2

In [ ]:
# 行数や列数は以下のようにして取得できます。
# 行数・列数の確認
sample_array_2.shape

### 4-8 実装：等差数列の作成

アレイを作成する方法は、引数にリストを指定する以外にもさまざまあります。よく使うものをここではいくつか紹介します。

まず等差数列の作成方法を解説します。等差数列とは例えば「1,2,3,4,5」のように前後の数値の差が等しい数列のことです。この例だと右の数値から左の数値を引くと1になります。同様に「0.1,0.3,0.5,0.7」も等差数列です。差分は0.2です。

#### 8-A arrange関数の利用

・まずは「1,2,3,4,5」という、スタートが1で、差分が1の等差数列を作ります。np.arange関数を使います。

・引数は開始位置start、終了位置stop、差分stepです。終了位置は「この位置に来たら終了」ですので、stopの位置はアレイの要素に含まれないことに注意してください。1から5までの数値が欲しいならstopはプラス1をして6とします。

・関数を使う際start=といった引数の名前は省略できます。即ちnp.arange(0.1, 0.8, 0.2)としても結果は変わりません。

In [ ]:
# 1から5までの等差数列
np.arange(start=1, stop=6, step=1)

In [ ]:
np.arange(start=0.1, stop=0.8, step=0.2)

In [ ]:
np.arange(0.1, 0.8, 0.2)

#### 8-B linespace関数の利用

np.linspace関数を使うことでも等差数列を作れます。np.arange関数は等差数列の差分値を指定しましたが、np.linspace関数は要素の数を指定します。要素の数は決まっている場合は、np.linspace関数を使う方が簡単です。
1から5まで等差数列は以下のようにして作成します。num=5とは5等分するという指示になります。

In [ ]:
# 1から5までの等差数列
np.linspace(start=1, stop=5, num=5)

In [ ]:
np.linspace(start=1, stop=5, num=11)

In [ ]:
np.linspace(start=0.1, stop=0.7, num=4)

### 4-9 実装：様々なアレイの作成

同じ値をたくさん格納したアレイを作る場合はnp.tile関数を使います。例えばAというアルファベットを5個格納した配列を作ります。同じ数値を複数格納することもできます。

In [ ]:
# 同じ値の繰り返し
np.tile('A', 5)

In [ ]:
# 0を4回繰り返す
np.tile(0, 4)

すべてゼロであるアレイはnp.zeros関数を使うと、より簡単に作成できます。引数にはアレイの要素数を指定します。
2次元のアレイにもできます。要素数は[行数,列数]の順に指定します。
1埋めもできます。np.ones関数を使います。

In [ ]:
# ゼロ埋めのアレイ
np.zeros(4)

In [ ]:
# 2次元配列
np.zeros([2,3])

In [ ]:
# 1埋めのアレイ
np.ones(3)

### 4-10 実装：スライシング

numpyのアレイは、スライシングという技法を使うことで簡単にデータを抽出できます。

#### 10-A 1次元のアレイの事例

・まずは1行のアレイを作ります。以下ではd1_arrayを対象に要素を抽出します。

・データを抽出する場合は角括弧を使います。例えばd1_arrayの最初の要素を取得する場合はd1_array[0]とします。インデックスは0から始まりであることに注意してください。

・複数の要素を抽出する場合は、インデックスをリストで指定します。リストも角括弧を使うので角括弧が連続します。

・範囲を指定して抽出する場合はコロン記号(:)を使うのが便利です。[1:3]のように実装すると、インデックスが1番と2番の要素が取得できます。

In [ ]:
# 1次元配列
d1_array = np.array([1, 2, 3, 4, 5])
d1_array

In [ ]:
# 最初の要素を取得
d1_array[0]

In [ ]:
# 2~3番目の要素を取得
d1_array[[1, 2]]

In [ ]:
# 2~3番目の要素を取得
d1_array[1:3]

#### 10-B 2次元のアレイの事例

2行以上のアレイでも同様にデータを抽出できます。まずは2次元のアレイを作ります。

In [ ]:
# 2次元配列
d2_array = np.array(
    [[1, 2, 3, 4, 5],
     [6, 7, 8, 9, 10]])
d2_array

行インデックス・列インデックスの順番に番号を指定することで要素を抽出します。インデックスは0から始まりなので、以下のコードで1行4列目のデータが取得できます。

In [ ]:
d2_array[0, 3]

ここでもコロン記号を使うことで、複数の要素を抽出できます。以下のコードで2行目における3番目と4番目の要素を取得します。

In [ ]:
d2_array[1, 2:4]

###4-11  実装：データフレーム

ここからはpandasの解説に移ります。本節ではpandasのデータフレームという形式でデータを格納する方法を解説します。

さまざまな作り方がありますが、アレイやリストを使うのが簡単です。中括弧を忘れないように注意してください。

In [ ]:
sample_df = pd.DataFrame({
    'col1' : sample_array,
    'col2' : sample_array * 2,
    'col3' : ['A', 'B', 'C', 'D', 'E']
})
print(sample_df)

データフレームは列の名称と列に格納するデータを'col1':sample_arrayのように指定します。アレイと異なり、データフレームは、列が異なれば、数値型と文字列型を混在できます。

データフレームを表示させる際print関数を使っていますが、これは必須ではありません。print(sample_df)とせずに単にsample_dfと記述してもエラーにはなりません。ただし見た目が少し変わります。

In [ ]:
# print関数を使わないで表示
sample_df

### 4-12 実装：ファイルデータの読み込み

データフレームは、自分で作ることもありますが、外部のデータを読み込む際にもしばしば使われます。

調査データなどがCSVファイルで保存されており、作業中のフォルダに格納されている場合は、以下のようにしてデータを読み込むことができます。

データを格納する変数名 = pd.read_csv("ファイル名")

今回は「2-4-1-sample_data.csv」というファイルを読み込みます。なお、このデータは本書サポートページからダウンロードできます。読み込まれたデータは、データフレームとなっています。

Jupyter Notebook環境では直接pd.read_csv('2-4-1-sample_data.csv')の一行コードでデータファイルを読み込みますが、Colaboratoryの環境でfiles.upload()、データファイルをアップロード、とio.BytesIO(uploaded['2-4-1-sample_data.csv'])が前準備として必要となります。

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
data = io.BytesIO(uploaded['2-4-1-sample_data.csv'])

In [ ]:
file_data = pd.read_csv(data)
print(file_data)

### 4-14 実装：データフレームの結合

作成されたデータフレームを結合して、新たなデータフレームを作ることができます。

まずはデータフレームを2つ作ります。各々3行2列です。

In [ ]:
df_1 = pd.DataFrame({
    'col1' : np.array([1, 2, 3]),
    'col2' : np.array(['A', 'B', 'C'])
})
df_2 = pd.DataFrame({
    'col1' : np.array([4, 5, 6]),
    'col2' : np.array(['D', 'E', 'F'])
})

In [ ]:
# 縦に結合
print(pd.concat([df_1, df_2]))

In [ ]:
# 横に結合、axis=1という引数を追加、axis=0は行方向、axis=1は列方向を指定、デフォルトは0
print(pd.concat([df_1, df_2], axis=1))

### 4-14 実装：特定の列の取得

データフレームは、データの抽出等の操作を柔軟に行えます。よく使うものをここでは紹介します。

In [ ]:
# 対象データ
print(sample_df)

In [ ]:
# 列名を指定して抽出、ドット記号を使う。
print(sample_df.col2)

In [ ]:
# 列名を指定して抽出、角括弧を使う方法
print(sample_df['col2'])

In [ ]:
# 複数列を指定して抽出、列名を指定する角括弧の中にリスト形式で列名を複数指定。
print(sample_df[['col2', 'col3']])

In [ ]:
# 列の削除、drop関数を使う。
print(sample_df.drop('col1', axis=1))

In [ ]:
# 行の削除、drop関数を使う。
print(sample_df.drop(1, axis=0))

### 4-15 実装：特定の行の取得

特定の行を取得するいくつかの方法を紹介します。

In [ ]:
# 最初の3行だけを抽出
print(sample_df.head(n=3))

In [ ]:
# 最初の行を抽出
print(sample_df.query('index == 0'))

In [ ]:
# さまざまな条件で抽出：col3という列の値がAである行のみを抽出します。
print(sample_df.query('col3 == "A"'))

ダブルクォーテーションとシングルクォーテーションの使い分けに注意してください。今回は「文字列A」を、ダブルクォーテーションを使って"A"と指定しました。ここで、抽出条件も文字列として指定する必要があります。ここでもダブルクォーテーションを使ってしまうと、ダブルクォーテーションが4つ搭乗することになり、区切りが分からなくなります。そのため、抽出条件「col3="A"」はシングルクォーテーションで囲っています。

複数の条件を指定する方法を解説します。query('col3 == "A" | col3 == "D"')とすると、「col3がAまたはD」であるという条件で抽出できます。”または”の条件はOR条件とも呼ばれます。

In [ ]:
# OR条件で抽出
print(sample_df.query('col3 == "A" | col3 == "D"'))

query('col3 == "A" & col1 == 3')とすると、「col3がAであり、且つ、col1が3である」という条件で抽出できます。”かつ”の条件はAND条件とも呼ばれます。今回のデータではこの条件に合致する行はありません。

In [ ]:
# AND条件で抽出
print(sample_df.query('col3 == "A" & col1 == 3'))

In [ ]:
# 行も列も選択する
print(sample_df.query('col3 == "A"')[['col2', 'col3']])

### 4-16 実装：シリーズ

pandasデータフレームの1列だけを抽出したものは、シリーズと呼ばれる別のデータの型に変わります。

まずはtype関数を使ってsample_dfのクラス名がDataFrameになっていることを確認します。次は1列だけを抽出した結果のクラス名を調べてみます。Seriesに変わっています。

In [ ]:
type(sample_df)

In [ ]:
type(sample_df.col1)

1列だけを抽出すると勝手にシリーズ形式になるため、分析をしているとしばしばシリーズ型が登場します。

シリーズはアレイとほぼ同様に扱えるものの、アレイの方が行列演算を簡単に実行できるなど若干の違いがあります。シリーズをアレイに変換する場合はnp.arrayの引数にシリーズを入れます。または、シリーズの後ろに.to_numpy()とつけることでも、アレイとして扱えます。

In [ ]:
# アレイへの変換
type(np.array(sample_df.col1))

In [ ]:
# アレイへの変換
type(sample_df.col1.to_numpy())

### 4-17 実装：関数のヘルプ

関数の使い方をすべて覚えるのは大変です。Pythonには便利なヘルプ関数が容易されています。query関数の場合は、以下のコードを実行すると、関数の使い方が表示されます。英語ではありますが、実行例が載っていることもあるので、参考になることが多いと思います。

In [ ]:
help(sample_df.query)

# 第3部　記述統計

## 1章　データの分類

データ分析のすべての基礎となる、データの分類について解説します。データを扱う際の用語の整理という位置づけです。多くの用語が登場します。すべてを一度に覚えきる必要はありません。

### 1-1 用語：観測・変数

**観測**は、名前の通り調査などによって観測された個別の対象を指します。同様の意味で個体やケースと呼ぶこともあります。

調査項目のことは**変数**と呼びます。プログラミングにおける変数とは異なる意味なので注意しましょう。

例えば、湖の中にいる魚を対象に標本調査を行い、以下の表の結果が得られたとします、この時、「魚の種類」や「体長」が変数です。個別の対象、例えば、魚種はAで、体長は2cmといった結果は観測や個体と呼びます。

| 魚の種類 | 体長(㎝) |
| --- | --- |
| A | 2 |
| A | 4 |
| B | 8 |
| B | 9 |

表の列名が変数に対応し、行が観測に対応するようにデータを整理すると扱いやすいです。pandasのデータフレームとしてデータを管理する場合も、なるべくこの形式にすべきです。

### 1-2 用語：数値データ・カテゴリーデータ

最初の分類は、定量的か定量的ではないかというものです。
定量的な変数を量的変数と呼びます。数量データや量的データと呼ぶこともあります。例えば魚の体長は数量データです。
定量的ではない変数は質的変数やカテゴリー変数と呼びます。カテゴリーデータや質的データと呼ぶこともあります。例えば魚の種類はカテゴリーデータです。

### 1-3 用語：離散型のデータ・連続型のデータ

数量データをさらに二つに分けます。魚の数は1尾、2尾、といったように整数しか取りません。このような数量データを離散型のデータと呼びます。

一方で魚の体長は、2.34cm、4.25cmといったように小数点以下の値を取り、連続的に変化します。（別の定義により、連続データとは、無限に分割可能な尺度や連続体によって測定可能なデータのことです。いくらでも細かく区分できます。）このような数量データを連続型のデータと呼びます。

### 1-4 用語：2値データ・多値データ

カテゴリーデータをさらに2つに分けます。
コインは裏と表の2つしか取りません。2つのカテゴリーしか取らないデータを2値データと呼びます。一方で、魚の種類は3つ以上の値をとります。この場合は多値データと呼びます。

### 1-6 用語：1変量データ・多変量データ

1つの変数だけからなるデータを1変量データや1次元データと呼びます。例えば魚の体長だけを測定したならば、それは1変量データです。魚の種類だけを測定しても、これは1変量データです。
2つ以上の変数からなるデータを多変量データや多次元データと呼びます。例えば魚の体長と魚の種類の2つを同時に測定したデータは多変量データです。
多変量データを分析する場合は、変数同士の関連性を調べることも重要な課題になります。

### 1-7 用語：時系列データ・クロスセクションデータ

データの取得状況からデータを分類します。
時系列データは名前の通り時間によって変化するデータです。同一の対象を異なった時点で測定した結果となります。時系列データは並び順に意味があるのが特徴です。

クロスセクションデータは、異なる対象から得られたデータです。例えばあるチェーン店のオーナーが2000年1月における、自社店舗100店の売上を分析する、という場合は、100店舗の売り上げデータはクロスセクションデータとなります。

## 2章　数式の読み方

### 2-2　標本を数式で表記する

まず、標本を数式で表現することを試みます。サンプルサイズを*n*としたとき、標本は以下のように表記されます。

$\{x_i\}_{i=1}^n=\{x_1,x_2,...,x_n\}$

個別のデータを、添え字をつけた記号$x_i$と表記しました。例えば2番目のデータを指した示したい時は$x_2$と表記します。

サンプルサイズはNumberの頭文字でnを使うことが多いです。しかし、複数の標本があり、サンプルサイズが各々で異なるという場合は別の記号を使うこともあります。

### 2-4/５/６　足し算と$Σ$記号

標本を数式で表現した次のステップとして、標本に対する計算処理を数式で表現する方法を解説します、

合計値を表記する場合には、$Σ$記号を使います。
まず、標本を数式で表現することを試みます。サンプルサイズを*n*としたとき、標本は以下のように表記されます。

$標本の合計値=Σ_{i=1}^nx_i$

「添え字*i*を1から*n*まで、$x_i$を足し合わせる」ということです。

平均値を数式で表記すると以下のようになります。標本xの平均値である標本平均は伝統的に$x^̄$と表記することが多いです。

$x^̄=\frac{1}{n}Σ_{i=1}^nx_i$

$Σ$記号は足し算の総和記号で、$∏$はすべての値を掛け合わせる記号です。

## 3章　度数分布

本章では度数分布について解説します。また、度数分布を可視化したヒストグラムと呼ばれるグラフも紹介します。最後に、少し応用的な話題としてカーネル密度推定を紹介します。

### 3-1 なぜさまざまな集計の方法を学ぶのか

平均値だけを使ってデータの集計を行うことは全くお勧めできません。例えば、以下のような貯金額のデータが得られたとします。

Aさん：1億円
Bさん：0円
Cさん：0円
Dさん：0円

4人の平均貯金額は2500万円です。ここで「なるほど平均貯金額はとても高いから、みんな裕福なんだな」と考えるのは明らかな間違いです。4人中3人は貯金額が0円で困窮しているのですから。

平均値だけを使ったデータ分析からの脱却として本章では度数分布表の利用方法を解説します。

### 3-2 用語：度数・度数分布

度数とは、そのデータがが笑われた回数、言い換えると頻度のことです。

例えば3cmの魚が2尾だけ釣れたならば、3cmの魚の度数は2です。

度数分布とは、データが出てきた回数の一覧です。度数分布を一覧にした表を度数分布表と呼びます。

3-1節の貯金額データならば、貯金額が1億円である度数は1でう、0円である度数は3となります。度数分布表を使えば、3人は貯金が0円で、とても困っているのが一目で分かります。

### 3-3 用語：階級・階級値

カテゴリーデータの場合、度数を得ることは難しくありません。カテゴリーごとに観測された回数を記録するだけです。

一方で数量データの場合、度数を得るのには若干の工夫が必要です。特に連続型のデータの場合は、完全に数値が一致するという状況が想定しにくいことがあります。この場合、数値をいくつかの範囲に区切ることがしばしばあります。この区切りのことを階級と呼びます。

階級を代表する値を階級値と呼びます。範囲の最大と最小の中間の値等が階級値として使われます。例えば「$1.5≤体長<2.5$」という階級を設定した時の階級値は2です。数量データの場合は、この階級に属するデータの個数を数えることで、度数分布を得ることが多いです。

### 3-4 実装：分析の準備

Pythonを利用して、実際に度数分布を求めます。まずは必要なライブラリの読み込みなどを行います。

In [ ]:
# 数値計算に使うライブラリ
import numpy as np
import pandas as pd

### 3-5 実装：度数分布

In [ ]:
# 表示設定(書籍本文のレイアウトと合わせるためであり、必須ではありません)
np.set_printoptions(linewidth=60)
pd.set_option('display.width', 60)

#### 5-A カテゴリーデータの度数分布

カテゴリーデータに対して度数分布を求めます。対照となるデータを読み込みます。魚の種類名が記録されたデータです。

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
# データの読み込み
import io
category_data = pd.read_csv(io.BytesIO(uploaded['3-3-1-fish-species.csv']))
print(category_data)

In [ ]:
# カテゴリーデータの度数分布、pandasのvalue_counts関数を使う。
category_data.species.value_counts(sort=False)

データフレームであるcategory_dataからspecies列のみを抽出した結果はシリーズ型になるのでした。これに対してvalue_counts関数を適用します。sort=Falseを指定することで、度数の順に並び替えられるのを防いでいます。

In [ ]:
print(type(category_data))
# create a new row
new_row = [{'species': "C"},{'species': "C"},{'species':"C"},{'species':"C"}]
print(pd.DataFrame(new_row))

category_data= pd.concat([category_data,pd.DataFrame(new_row)], axis=0)

print(category_data)

category_data.species.value_counts(sort=False) #ここはsort=Trueの場合どうなるかを試してください。

#### 5-B 数量データの度数分布

数量データに対して度数分布を求めます。対照となるデータを読み込みます。魚の体長が記録されたデータです。

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
# データの読み込み
numeric_data = pd.read_csv(io.BytesIO(uploaded['3-3-2-fish-length.csv']))
print(numeric_data)

In [ ]:
# 数量データの度数分布（うまくいかない例）
numeric_data.length.value_counts()

サンプルサイズは小さいので、value_counts関数を使うと、同じ数値は存在しません。この場合、以下のようにbins=3と指定することで、データを3つに区切ったうえで、度数を得ることができます。

In [ ]:
# 数量データの度数分布(3区分)
numeric_data.length.value_counts(bins=3)

0.715より大きく、1.98以下であるデータは6個あることが分かります。1.98より大きく、3.24以下であるデータは2個あります。3.24より大きく、4.5以下であるデータも2個あります。「下限は含まないが、上限は含む」というルールで数えていることに注意してください。

階級の下限と上限を直接与えることもできます。例えば、以下のように0から5までの等差数列として階級を与えるとします。

In [ ]:
# 階級の上限と下限
np.arange(0, 6, 1)

この階級を以下のようにbinsに指定することで、度数が得られます。結果を後で使いまわせるように、度数分布をfreqという名前で保存しました。

In [ ]:
# 数量データの度数分布(階級の上限と下限を指定)
freq = numeric_data.length.value_counts(
    bins=np.arange(0, 6, 1), sort=False)
freq

#### 5-C numpyの関数を使う

別の方法で度数分布を得ることができます。np.histogramを使います。まずはデータを3区分に分けて度数を得ます。

In [ ]:
# 数量データの度数分布(3区分)
np.histogram(numeric_data.length, bins=3)

出力は2つのアレイです。1つ目のアレイであるarray([6, 2, 2], dtype=int64)は度数を表します。

2つ目のアレイであるarray([0.72, 1.98, 3.24, 4.5 ])は、階級の下限と上限の一覧を表します。

In [ ]:
# 参考：度数だけを取得した結果(書籍には載っていないコードです)
np.histogram(numeric_data.length, bins=3)[0]

binsに階級の上限と下限を指定することもできます。

In [ ]:
# 数量データの度数分布(階級の上限と下限を指定)
# 下限を含み、上限を含まないので注意
np.histogram(numeric_data.length, bins=np.arange(0, 6, 1))

np.histogram関数を使う場合、結果はvalue_counts関数の結果と異なっていることに注意してください。np.histogram関数は下限を含むため、「ちょうど1cm」のデータの取り扱いが変わっています。それ以外はほぼ同様に利用できます。

### 3-6 用語：相対度数分布・累積度数分布

相対度数分布は、全体を1としたときの、度数の占める割合の一覧です。度数をサンプルサイズで割ることで得られます。

累積度数分布は、度数の累積値をとったものです。相対度数分布の累積値をとった累積相対度数分布もしばしば利用されます。

### 3-7 実装：相対度数分布・累積度数分布

3-5節で計算した魚の体長データの度数であるfreqを対象にして、相対度数分布と累積度数分布を求めます。

#### 7-A 相対度数分布

いくつかの方法があります。

方法（1）まずは定義通り、度数をサンプルサイズで割ることで相対度数を求めます。

In [ ]:
# 相対度数分布
rel_freq = freq / sum(freq)
rel_freq

方法（2）value_counts関数を使う際にnormalize=Trueと設定すると、最初から割合を計算してくれます。

In [ ]:
# value_counts関数の設定を変える
numeric_data.length.value_counts(bins=np.arange(0, 6, 1),
                                 sort=False,
                                 normalize=True)

方法（3）np.hinstogram関数を使う場合はdensity=Trueとします。

In [ ]:
# np.hinstogram関数の設定を変える
np.histogram(numeric_data.length, bins=np.arange(0, 6, 1),
             density=True)

#### 7-B 累積度数分布

累積度数分布を求める際には、累積値を計算するcumsum関数を使います。

In [ ]:
# 累積度数分布
freq.cumsum()

np.histogram関数の結果に対しては、要素インデックス[0]を指定して度数だけを取得したうえで、np.cumsum関数を適用します。

In [ ]:
freq_np = np.histogram(numeric_data.length,
                       bins=np.arange(0, 6, 1))[0]
np.cumsum(freq_np)

#### 7-C 累積相対度数分布

相対度数分布に対して累積値を計算すると、累積相対度数分布が得られます。

In [ ]:
# 累積相対度数分布
rel_freq.cumsum()

### 3-9 グラフ描画とmatplotlib・seaborn

ヒストグラムを描くために、グラフを描くする2つのライブラリを紹介します。以下のようにしてライブラリを読み込みます。

In [ ]:
# グラフを描画するライブラリ
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
# 表示設定(書籍本文のレイアウトと合わせるためであり、必須ではありません)
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 6, 3

### 3-10 実装：ヒストグラム

本書ではseabornを積極的に使います。ただしseabornはmatplotlibとも相性がよく、matplotlibの機能を使ってグラフを装飾できます。

ヒストグラムを描く関数はseabornの中でもいくつかあります。

#### matplotlibを使う方法(参考)

In [ ]:
# 参考：matplotlibを使ったヒストグラム(書籍には載っていないコードです)
hist = plt.hist(x='length', data=numeric_data,
                bins=np.arange(0, 6, 1), color='gray')

In [ ]:
# 参考：matplotlibを使ったヒストグラム(書籍には載っていないコードです)
hist = plt.hist(x='length', data=numeric_data,
                bins=np.arange(0, 6, 1), color='gray')

#### seabornを使う方法

ここではsns.histplot関数を使います。引数x='length'とdata=numeric_dataで「numeric_dataのlength列」を対象にヒストグラムを描くように指定します。colorでヒストグラムの色を、binsで階級を指定します。

ヒストグラムを見ることで、データの分布が視覚的に分かります。このヒストグラムの縦軸は度数です。0以上1未満のデータは1つだけで、1以上2未満のデータは5つあり…と度数分布と同様に解釈できます。結果はnp.histogram関数の結果と一致します。

In [ ]:
sns.histplot(x='length', data=numeric_data, color='gray',
             bins=np.arange(0, 6, 1))

ヒストグラムの柱の面積を相対度数とみなせるように標準化した結果を得ることもできます。stat='density'と指定します。

In [ ]:
# 柱の面積を相対度数にする
sns.histplot(x='length', data=numeric_data, color='gray',
             bins=np.arange(0, 6, 1), stat='density')

### 3-11 実装：階級の幅が異なるヒストグラム

今までは階級の幅が常に等しくなるようにbinsを設定しました。しかし、階級の幅は任意に設定できます。もちろん異なる幅にすることもできます。階級を「0以上、1未満」、「1以上、2未満」、「2以上、5未満」と最後の階級だけ長くとった際の度数分布を得ます。

ここで、「2以上、5未満」のデータは4つあるため、本らの相対度数は0.4となるはずです。けれども「2以上、5未満」の階級に属するデータのヒストグラムの柱の高さは0.13333333となりました。

ヒストグラムは、その面積を相対度数として解釈できます。「2以上、5未満」のデータは、全体の40%を占めます。そして「2以上、5未満」という階級におけるヒストグラムの柱の横幅は3です。そのため「柱の高さ*柱の横幅」即ち0.13333333*3とすることで、40%という割合が計算できます。np.histogram関数やsns.histplot関数において、異なる階級の幅を設定した時の挙動はやや複雑ですので注意してください。

In [ ]:
# np.hinstogram関数の設定を変える
np.histogram(numeric_data.length, bins=np.array([0, 1, 2, 5]),
             density=True)

In [ ]:
# 階級の幅を変える
sns.histplot(x='length', data=numeric_data, color='gray',
             bins=np.array([0, 1, 2, 5]), stat='density')

### 3-12 用語：カーネル密度推定によるヒストグラム平滑化

ヒストグラムのとよく似た結果が得られる、カーネル密度推定について解説します。やや高度な内容が含まれます。特に仕組みに関しては、難しいと感じたら飛ばしても大丈夫です。

#### 12-A カーネル密度推定の基本

ヒストグラムのを平滑化するためにカーネル密度推定が用いられます。ヒストグラムは、データの分布が一目でわかる便利なグラフですが、階級ごとに段差が生じます。カーネル密度推定を用いることで、この段差をなくして滑らかな分布を提示できます。

#### 12-B カーネル密度推定の仕組み

まずは、ラグプロットと呼ばれるグラフを紹介します。ラグプロットはデータの1を縦棒で示したものです。

下記はnumeric_data.lengthを対象にラグプロットを描いた結果です。横軸が体長です。体長の最小値である0.72や、2番目に小さい値である1.00の位置に縦棒が配置されています。

続いてこのラグプロットにガウス曲線を加えます。ガウス曲線については第4部第4章で解説しますが、左右対称のいわゆる釣り鐘型(ベル型)と呼ばれる形をしているのが特徴です。

最小値0.72を中心としたガウス曲線を描きました。最後に、ガウス曲線の値をすべて合計します。この結果がカーネル密度推定の結果となります。こうすることで、データが集中している箇所は、密度が高いと評価されます。

In [ ]:
import scipy
sns.distplot(numeric_data['length'], kde=True, rug=True, hist=False, color='red', bins=np.arange(0, 6, 1))


x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 0.72, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 1.91, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 1.21, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 2.28, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 1.01, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 1.00, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 4.50, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 1.96, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 3.67, 1)
plt.plot(x_pdf, y_pdf/10, c='r')

x_pdf = np.linspace(-3, 7, 100)
y_pdf = scipy.stats.norm.pdf(x_pdf, 2.55, 1)
plt.plot(x_pdf, y_pdf/10, c='r')


plt.xlabel('length')
plt.show()

In [ ]:
sns.distplot(numeric_data['length'], kde=True, rug=True, hist=False, color='red', bins=np.arange(0, 6, 1))
plt.xlabel('length')
plt.show()

### 3-13 実装：カーネル密度推定によるヒストグラム平滑化

カーネル密度推定を実行します。

#### 13-A 基本的な実装

seabornのkdeplot関数を使うことで、カーネル密度推定の結果を簡単に得ることができます。fill=Trueとすることで曲線の下側を塗りつぶします。

ヒストグラムと異なり、滑らかな結果が得られます。ただし、体長データにもかかわらず、負の値でも0より大きい密度が得られています。0以上のデータや離散型のデータに対してカーネル密度推定を実行すると、やや直感と異なる結果が得られることもあるので注意してください。このような場合はヒストグラムを用います。

In [ ]:
sns.kdeplot(numeric_data.length, fill=True, color='gray')

#### 13-B バンド幅の変更

参考までにバンド幅を変更した結果を確認します。bw_adjustを小さくすると変動が大きくなります。逆にbw_adjustを大きくすると、滑らかな結果が得られます。

以下はグラフ描画方法の補足です。グラフ描画関数sns.kdeplotを連続で実行することでグラフを上書きしています。linestyleの指定をすることで、線の種類をはせんなどに変更できます。labelを設定した後でplt.legend関数を適用すると凡例を表示できます。

In [ ]:
# バンド幅を変えた3種類のカーネル密度推定の結果
sns.kdeplot(numeric_data.length,
            color='black', label='default')
sns.kdeplot(numeric_data.length,
            color='black', bw_adjust=0.4,
            linestyle='dashed', label='bw_adjust=0.4')
sns.kdeplot(numeric_data.length,
            color='black', bw_adjust=2,
            linestyle='dotted', label='bw_adjust=2')

plt.legend() # 凡例

## 4章　1変量データの統計量

本章では1変量データを対象としたさまざまな統計量を紹介し、Pythonでの実装方法を解説します。統計量の説明では数式を使います。数式が難しいと感じたら第3部第2章を参照してください。プログラムが難しいと感じたら、第2部第3章と第4章を参照してください。 サンプルサイズ・合計値・平均値という単純な指標から紹介し、データのばらつきを評価する指標である分散と標準偏差を解説します。続いて分散を利用した変動係数・標準化について解説します。 次にデータを昇順に並び替えたうえで、順位に基づく統計量を導入します。そして最頻値と呼ばれる度数に基づく統計量を導入します。最後に、さまざまな指標をまとめて計算できる便利な関数を紹介します。

### 4-1 実装：分析の準備

必要なライブラリの読み込みなどを行います。scipyは科学技術計算を行う際に便利なライブラリです。scipyから特に統計処理に特化したstatsモジュールを読み込みました。

In [ ]:
# 数値計算に使うライブラリ
import numpy as np
import pandas as pd

# 複雑な統計処理を行うライブラリ
from scipy import stats

In [ ]:
# 表示設定(書籍本文のレイアウトと合わせるためであり、必須ではありません)
np.set_printoptions(linewidth=60)

### 4-2 分析対象となるデータの用意

分析対象となるデータを用意します。2通りの方法で同じデータを用意します。

#### 2-A numpyアレイで用意

numpyのアレイでデータを用意します。魚の体長を10個体だけ記録したデータです。名前はfish_lengthとします。

In [ ]:
fish_length = np.array([2,3,3,4,4,4,4,5,5,6])
fish_length

#### 2-B CSVファイルから読み込み

データはCSVファイルとして保存することが多いと思います。アレイで用意したデータと同じデータを、pandasのデータフレームとして読み込みます。名前は末尾に_dfをつけてfish_length_dfとします。

In [ ]:
import io
from google.colab import files
uploaded = files.upload()

In [ ]:
# データの読み込み
# fish_length_df = pd.read_csv('3-4-1-fish-length.csv')
fish_length_df = pd.read_csv(io.BytesIO(uploaded['3-4-1-fish-length.csv']))
print(fish_length_df)

#### 2-C データフレームとアレイの変換

第2部第4章の復習ですが、データフレームをアレイに変換することは難しくありません。1変量の場合は、列名を指定したうえでさらにto_numpy()とつけることでアレイとして扱えます。すなわちfish_length_df.length.to_numpy()はアレイであるfish_lengthと同様に扱えます。これは以下のコードで確認できます。すべての要素がTrueなので、すべて等しいことがわかります。

In [ ]:
# データフレームもアレイに変換できる
fish_length_array = fish_length_df.length.to_numpy()
print(fish_length_array)

fish_length_df.length.to_numpy() == fish_length

### 4-3 実装：サンプルサイズ

標本のサンプルサイズを取得します。len関数を使います。まずはアレイに適用します。10個のデータがあるので結果は10です。

In [ ]:
# サンプルサイズ
len(fish_length)

続いてデータフレームに適用します。len関数を使うことで行数が取得できます。

In [ ]:
# サンプルサイズ(データフレームの行数)
len(fish_length_df)

データフレームはアレイに変換してから処理をしても構いませんし、データフレームのまま処理を実行できることもあります。両方のやり方を知っておくと便利です。しかし、複数のやり方を併記すると混乱を招くかもしれません。本章では、基本的にアレイを対象に実行します。 ただしnumpyとpandasで「同じ名前の関数なのに、処理の結果が異なる」ということもまれにあります。その場合には適宜注意を促します。

### 4-4 実装：合計値

標本の合計値を計算します。いろいろな実装方法があります。本節ではアレイとデータフレームの両方を対象とします。

#### 4-A 基本的な計算方法

合計値を計算するだけでもいろいろな方法があります。読者の方が混乱するのを避けるために、本書ではなるべくnumpyの関数を利用する方法で統一します。必要に応じてscipyのstatsの機能を使います。

numpyの関数を使って合計値を計算する場合はnp.sum関数を使います。まずはアレイを対象に適用します。結果は2+3+3+4+4+4+4+5+5+6=40です。データフレームにも同様に適用できます。

In [ ]:
# 合計
np.sum(fish_length)

In [ ]:
# 合計
np.sum(fish_length_df)

#### 4-B その他の計算方法

Pythonを扱った教科書によっては以下のような方法が提示されていることもあると思います。結果は変わりませんが、読者の混乱を防ぐために、本書では明示的にnp.sum関数を使う方法を中心に使います。

In [ ]:
# アレイが持つsum関数を実行
fish_length.sum()

In [ ]:
# データフレームが持つ関数を実行
fish_length_df.sum()

### 4-5 実装：標本平均

標本平均を計算します。平均値の計算式を再掲します。ただしは標本$x^̄$の平均値であり、nはサンプルサイズです。

#### 5-A 計算方法の確認

アレイを対象にして、Pythonで平均値を計算します。標本平均を定義通りに実装します。まずはサンプルサイズを取得します。続いて合計値を計算します。合計値をサンプルサイズで除すことで平均値が計算できます。

In [ ]:
# サンプルサイズ
n = len(fish_length)
n

In [ ]:
# 合計値
sum_value = np.sum(fish_length)
sum_value

In [ ]:
# 平均値の計算
x_bar = sum_value / n
x_bar

#### 5-B 関数を使った効率的な実装

In [ ]:
# 関数を使った平均値の計算
np.mean(fish_length)

### 4-6 用語：標本分散

データのばらつきを評価する指標である分散を導入します。

#### 6-A 分散の定義

平たく言うと、分散は「データが平均値とどれだけ離れているか」を表した指標です。標本から計算された分散を標本分散と呼びます。 平均値はデータの代表値としてしばしば使われます。しかし、その代表値がデータとかけ離れているときに、代表値だけを見てデータの解釈をするのは危険です。 平均値の近くにデータがちゃんと寄っていれば、標本分散は小さくなります。データが平均値から遠くに離れているようであれば、標本分散は大きくなります。 本書では、標本分散を記号s2と表記します。計算式に2乗する処理が入っているので、記号にもそれを入れています。

$s^2=\frac{1}{n}Σ_{i=1}^n(x_i-x^̄)^2$

平均値$x^̄$と個別のデータ$x_i$が離れていれば離れているほど、$(x_i-x^̄)^2$は大きな値をとります。$(x_i-x^̄)^2$は平均値とデータとの距離のようなものだとみなせます。なお、データと平均値の差を**偏差**と呼び、分散の分子を**偏差平方和**と呼びます。

#### 6-B 分散の定義

補足的に、厳密ではありませんが分散の直観的なイメージを共有します。 平均と分散という2つの指標を使うことで、データのおおよその形状を知ることができます。図3-4-1は、横軸に魚の体長を置いた模式図です。黒丸や白丸は、データ点を示しています。グレーの範囲が私たちのイメージする「データの形状」だと思ってください。

![3-4-1.png]()

データの範囲を見るだけならば、最大値・最小値を見るだけで十分です。しかし「たまたま1つか２つ極端な値があっただけ」でも、最大値・最小値の幅は広くなってしまいます。

例えば図3-4-2では、2つの標本において、最大値と最小値の幅はほぼ同じになっています。しかし、直観的には「データの形状」が異なっているとみなしたいところですね。分散は「データが平均値とどれだけ離れているか」を表した指標なので、このようなときに効果を発揮します。

![3-4-2.png]()

なお、平均値と分散だけでは、データの形状を正しく判断できないこともしばしばあります。この場合は、ヒストグラムなども利用しましょう。

### 4-7 実装：標本分散

アレイを対象にして標本分散を計算します。

#### 7-A 計算方法の確認

アレイを対象にして標本分散を計算します。

In [ ]:
# 標本分散
s2 = np.sum((fish_length - x_bar) ** 2) / n
s2

#### 7-B 実装コードの解読

コードがやや複雑なので、順を追って実装コードの解説をします。まずはアレイで用意した魚の体長データxiを確認します。

In [ ]:
fish_length

In [ ]:
fish_length - x_bar

In [ ]:
(fish_length - x_bar) ** 2

In [ ]:
np.sum((fish_length - x_bar) ** 2)

#### 7-B 関数を使った効率的な実装

np.var関数を使うと簡単に計算できます。ただし間違いをなくすためにddof=0という引数は必ず指定してください。ddofという引数の意味は4-9節で解説します。

In [ ]:
# 関数を使った標本分散
np.var(fish_length, ddof=0)

### 4-7 用語：不偏分散

記述統計で分散と呼ぶ場合は、標本分散s2を指すことが多いです。ただし、本書では第5部以降で推測統計を解説します。推測統計では不偏分散や不偏標本分散と呼ばれる分散を使うことが多いです。不偏分散は以下のようにして計算されます。本書では見分けをつけやすくするため、不偏分散を記号u2と表記します。「不偏」の英語であるunbiasedの頭文字を意図しています。

サンプルサイズではなく、サンプルサイズから1を差し引いたもので除します。 不偏分散を理解するためには、推測統計の考え方を理解する必要があります。そのため現時点で不偏分散について理解できなくても大丈夫です。詳しくは第5部第4章で解説します。ここでは、不偏分散の役割を直観的に紹介するにとどめます。

### 4-9 実装：不偏分散

#### 9-A 計算方法の確認

In [ ]:
# 不偏分散
u2 = np.sum((fish_length - x_bar) ** 2) / (n - 1)
u2

In [ ]:
# 小数点以下第3位で丸める
round(u2, 3)

#### 9-B 関数を使った効率的な実装

In [ ]:
# 不偏分散
round(np.var(fish_length, ddof=1), 3)

#### 9-C ライブラリの違いに注意

numpyとpandasでともにvarという関数があり、両者は違うことに注意してください。numpyのvar関数では、ddofを指定しない場合は標本分散を計算する。一方で、pandasのvar関数では、ddofを指定しない場合は不偏分散を計算する。

In [ ]:
# numpy(標準は標本分散)
np.var(fish_length_df)

In [ ]:
# pandas(標準は不偏分散)
fish_length_df.var()

In [ ]:
# ddofを指定
fish_length_df.var(ddof=0)

In [ ]:
# 参考：ライブラリのバージョン(書籍には載っていないコードです)
print('numpyのバージョン', np.__version__)
print('pandasのバージョン', pd.__version__)

### 4-10 用語：標準偏差

標準偏差とは、分散の平方根をとったものです。分散はデータを2乗することで計算されている。

$s=\sqrt{s^2}=\sqrt{\frac{1}{n}Σ_{i=1}^n(x_i-x^̄)^2}$

### 4-11 実装：標準偏差

#### 11-A 計算方法の確認

In [ ]:
# 標準偏差
s = np.sqrt(s2)
round(s, 3)

#### 11-B 関数を使った効率的な実装

In [ ]:
# 関数を使った標準偏差
round(np.std(fish_length, ddof=0), 3)

### 4-12 用語：変動係数

平均値と標準偏差の比を変動係数と呼ぶ。変動係数(coefficient of variation, CV)は下記の式で計算する。計算した結果を100倍にして%表記にすることもあります。

$CV=\frac{s}{x^̄}$

### 4-13 実装：変動係数

#### 13-A 計算方法の確認

In [ ]:
cv = s / x_bar
round(cv, 3)

#### 13-B 関数を使った効率的な実装

In [ ]:
round(stats.variation(fish_length), 3)

In [ ]:
# 不偏分散を使った変動係数の計算
round(stats.variation(fish_length, ddof=1), 3)

In [ ]:
# 参考：不偏分散を使った変動係数の計算(書籍には載っていないコードです)
round(np.sqrt(u2) / x_bar, 3)

In [ ]:
# 参考：ライブラリのバージョン(書籍には載っていないコードです)
import scipy
print(scipy.__version__)

#### 13-C 変動係数を使う注意点

In [ ]:
# 冬の気温と夏の気温
winter = np.array([1,1,1,2,2,2])
summer = np.array([29,29,29,30,30,30])

In [ ]:
# 標準偏差の比較
print('冬の気温の標準偏差：', np.std(winter, ddof=0))
print('夏の気温の標準偏差：', np.std(summer, ddof=0))

In [ ]:
# 変動係数の比較
print('冬の気温の変動係数：', round(stats.variation(winter), 3))
print('夏の気温の変動係数：', round(stats.variation(summer), 3))

### 4-15 実装：標準化

#### 15-A 計算方法の確認

In [ ]:
z = (fish_length - x_bar) / s
np.round(z, 3)

In [ ]:
# z得点の平均値はほぼ0
np.mean(z)

In [ ]:
# z得点の標準偏差はほぼ1
np.std(z, ddof=0)

#### 15-B 関数を使った効率的な実装

In [ ]:
np.round(stats.zscore(fish_length, ddof=0), 3)

### 4-17 実装：最大値と最小値

In [ ]:
# 最小
np.amin(fish_length)

In [ ]:
# 最大
np.amax(fish_length)

### 4-18 実装：中央値

#### 18-A 中央値の実装

In [ ]:
# 中央値
np.median(fish_length)

#### 18-B 平均値と中央値の違い

In [ ]:
# 外れ値のあるデータ
fish_length_2 = np.array([2,3,3,4,4,4,4,5,5,100])

In [ ]:
# 平均値と中央値の比較
print('平均値：', np.mean(fish_length_2))
print('中央値：', np.median(fish_length_2))

### 4-19 実装：四分位点

In [ ]:
print('第1四分位点', np.quantile(fish_length, q=0.25))
print('第3四分位点', np.quantile(fish_length, q=0.75))

In [ ]:
# 別のデータを利用
fish_length_3 = np.arange(0, 101, 1)
fish_length_3

In [ ]:
# サンプルサイズ
len(fish_length_3)

In [ ]:
print('第1四分位点', np.quantile(fish_length_3, q=0.25))
print('第3四分位点', np.quantile(fish_length_3, q=0.75))

In [ ]:
# 中央値
print('中央値：', np.median(fish_length_3))
print('50%点 ：', np.quantile(fish_length_3, q=0.5))

### 4-20 実装：最頻値

In [ ]:
# 元のデータ
fish_length

In [ ]:
# 最頻値
stats.mode(fish_length)

In [ ]:
# 度数が同じなら、小さい値が出力される
stats.mode(np.array([1,1,1,1,2,3,3,3,3]))

### 4-21 実装：pandasのdescribe関数の利用

In [ ]:
# 統計量をまとめて算出
print(fish_length_df.describe())